body{
   background-color: aqua;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   height: 100vh;
   text-align: center;
}

.avatar{
   width: 300px;
}